@charset "UTF-8";

header {
  background-color: var(--cor-fundo-ii);
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
}

.container-icone {
  display: flex;
  flex-direction: column;
}